@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Fri Score</h1>
    <a class="btn btn-secondary btn-lg" href="/Identity/Account/Register" role="button">Get Started</a>
</div>
